# Ignore node_modules
node_modules/

# Ignore build output
dist/

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore other files and directories
.vscode/
*.log
*.tmp

# Ignore user-specific files
*.lnk
*.ini
*.DAT
*.blf
*.regtrans-ms